<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <!-- Box Settings -->
        <element type="number" required="true" scope="shop">
            <name>JodaYellowBoxMaxWidth</name>
            <label lang="de">Box maximal Breite (Standard: 500)</label>
            <label lang="en">Box maximum width (Default: 500)</label>
            <value>500</value>
        </element>

        <element type="text" required="true" scope="shop">
            <name>JodaYellowBoxReleaseToDisplay</name>
            <label lang="de">Angezeigtes Release</label>
            <label lang="en">displayed release</label>
            <value>latest</value>
            <description lang="de">Tickets aus diesem Release werden im Frontend angezeigt. Namen des Releases angeben oder 'latest' für das neueste</description>
            <description lang="en">Tickets in that release will be displayed in frontend. Type in the name of the release or 'latest' for the newest one</description>
        </element>

        <element required="false" scope="shop">
            <name>JodaYellowBoxExternalProjectId</name>
            <label lang="de">Externe Projekt-ID</label>
            <label lang="en">External project ID</label>
            <description lang="de">Projekt-ID aus der externen Projektmanagement-Software</description>
            <description lang="en">Project-ID from the external Projectmanagement-Tool</description>
        </element>

        <element scope="shop">
            <name>JodaYellowBoxApiUrl</name>
            <label lang="de">URL zur Projektmanagement API</label>
            <label>URL to Projectmanagement API</label>
        </element>

        <element scope="shop">
            <name>JodaYellowBoxApiKey</name>
            <label>API Key</label>
        </element>

        <element type="select">
            <name>JodaYellowBoxManagementToolName</name>
            <label lang="de">Name des Projektmanagement-Tools</label>
            <label>Name of Projectmanagement-Tool</label>
            <store>
                <option>
                    <value>Redmine</value>
                    <label>Redmine</label>
                </option>
            </store>
        </element>
    </elements>
</config>
