<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <!-- Box Settings -->
        <element type="number" required="true" scope="shop">
            <name>JodaYellowBoxMaxWidth</name>
            <label lang="de">Box maximal Breite (Standard: 500)</label>
            <label lang="en">Box maximum width (Default: 500)</label>
            <value>500</value>
        </element>

        <element type="text" required="true" scope="shop">
            <name>JodaYellowBoxReleaseToDisplay</name>
            <label lang="de">Angezeigtes Release</label>
            <label lang="en">displayed release</label>
            <value>latest</value>
            <description lang="de">Tickets aus diesem Release werden im Frontend angezeigt. Namen des Releases angeben oder 'latest' für das neueste</description>
            <description lang="en">Tickets in that release will be displayed in frontend. Type in the name of the release or 'latest' for the newest one</description>
        </element>
    </elements>
</config>
